<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tech Talk</title>
    <link rel='stylesheet' href='/public/css/style.css' />
    <script src='https://cdn.tailwindcss.com'></script>
  </head>

  <body class='bg-teal-400'>
    <header class='p-2 h-36 bg-amber-800'>
      <div class='ml-6'>
        <nav class='space-x-12 text-slate-800 font-bold'>
          <a href='/' id='home'>HOME</a>
          <a href='/dashboard' id='dashboard'>DASHBOARD</a>

          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <button id='logout'>LOGOUT</button>
          {{else}}
            <a href='/login' id='login'>LOGIN</a>
          {{/if}}

        </nav>
      </div>
      <div
        class='bg-teal-400 w-64 h-12 rounded m-6 shadow-md shadow-slate-300 flex items-center justify-center'
      >
        <h1 class='text-slate-800 font-bold text-2xl'>TECH TALK BLOG</h1>
      </div>
    </header>
    <main class=''>
      <!-- Render body content -->
      {{{body}}}
    </main>
    <footer></footer>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>