{{! prettier-ignore }}

<div class='flex justify-center mt-12'>
  <div class='h-fit w-4/5 border-solid border-4 border-amber-800'>
    <div class='flex justify-between items-center bg-amber-800 text-slate-800'>
      <h2 class='ml-2 text-2xl font-bold'>Edit Post</h2>
    </div>
    <div class='p-4'>
      <form {{! action='update.php' method='post'> }}>
        <div class='mb-4'>
          <label for='title' class='block font-bold mb-2 text-slate-800'>Title</label>
          <input type='text' name='title' required class='w-full border border-gray-300 p-2 rounded-lg title' value="{{blogpost.title}}"/>
        </div>
        <div class='mb-4'>
          <label for='content' class='block font-bold mb-2 text-slate-800'>Content</label>
          <input type='content' name='newcontent' required class='h-32 w-full border border-gray-300 p-2 rounded-lg' value="{{blogpost.content}}"/>
        </div>
        <div class='flex-col'>
          <button type='submit' class='h-12 w-full bg-amber-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>
            Update Post
          </button>
          <button type='submit' class='h-12 mt-2 w-full bg-amber-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>
            Delete Post
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/update.js'></script>